
<div class="col-lg-3 col-md-3 col-sm-3" style="margin-top: 10px">
    <div class="chat-box-online-div">
        <div class="chat-box-online-head">
            ONLINE USERS (120)
        </div>
        <div class="panel-body chat-box-online">

            <div class="chat-box-online-left">
                <img src="<%= user.facebook.photos %>" title="<%= user.facebook.name %>" class="img-circle">
                - <%= user.facebook.name %>
                <div class="chat-box-message-left">yetim atava loernasdkasd aksd kasdhaksjdh asdjhaskdj askdjh
                    kashd kasdhkas dakjsdhaksd kajshd askd:))))
                </div>
                <br>
            </div>
            <hr class="hr-clas-low">
            <div class="chat-box-online-right">
                <img src="<%= user.facebook.photos %>" title="<%= user.facebook.name %>" class="img-circle">

                <div class="chat-box-message-left">yetim atava loernasdkasd aksd kasdhaksjdh asdjhaskdj askdjh
                    kashd kasdhkas dakjsdhaksd kajshd askd:))))
                </div>
                <br>
            </div>
            <hr class="hr-clas-low">
            <div class="chat-box-online-left">
                <img src="<%= user.facebook.photos %>" title="<%= user.facebook.name %>" class="img-circle">
                - Justine Goliyad
                <br>
                (
                <small>Active from 3 hours</small>
                )
            </div>
            <hr class="hr-clas-low">
        </div>

        <div class="chat-box-footer">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Enter Text Here...">
<span class="input-group-btn">
<button class="btn btn-info" type="button">SEND</button>
</span>
            </div>
        </div>

    </div>


</div>
