<% layout("layout") %>
<div class="container">

    <div class="row">
        <div class="col-lg-12 text-center">
            <h1>About</h1>
            <p>whis is for fun asdasd</p>
        </div>
    </div>
    <!-- /.row -->
</div>