<% layout("layout") %>
<div class="container">

    <div class="row">
        <div class="col-lg-12 text-center">
            <h1>Contact</h1>
            <p>+994 - 5465464646466</p>
        </div>
    </div>
    <!-- /.row -->
</div>