<% layout("layout") %>
<div class="container">

    <div class="row">
        <div class="col-lg-12 text-center">
            <h1>WELLCOME</h1>
            <p><a href="/play" class="btn btn-default">PLAY</a></p>
        </div>
    </div>
    <!-- /.row -->
</div>